<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InterpretedStateMachinesEvent -->
      <package
            uri="http://org.tetrabox.examples.statemachines.interpretedstatemachines/statemachines/event/"
            class="org.tetrabox.examples.statemachines.interpretedstatemachines.event.interpretedstatemachinesevent.InterpretedstatemachineseventPackage"
            genModel="model/InterpretedStateMachinesEvent.genmodel"/>
   </extension>

</plugin>
