<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated XElevator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.tetrabox.example.xelevator.elevator.presentation.ElevatorModelWizardID"
            name="%_UI_ElevatorModelWizard_label"
            class="org.tetrabox.example.xelevator.elevator.presentation.ElevatorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ElevatorModelFile.gif">
         <description>%_UI_ElevatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated XElevator -->
      <editor
            id="org.tetrabox.example.xelevator.elevator.presentation.ElevatorEditorID"
            name="%_UI_ElevatorEditor_label"
            icon="icons/full/obj16/ElevatorModelFile.gif"
            extensions="xelevator"
            class="org.tetrabox.example.xelevator.elevator.presentation.ElevatorEditor"
            contributorClass="org.tetrabox.example.xelevator.elevator.presentation.ElevatorActionBarContributor">
      </editor>
   </extension>

</plugin>
